@import '/src/styles/valuable.scss';

.header {
	width: 100%;
	padding: 3vh 10vw;
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 1.5rem;
		color: #333;
	}

	ul {
		display: flex;
		gap: 4vw;
		align-items: center;
		font-size: 1rem;
		color: #888;

		li {
			a.active {
				color: pink;
			}
		}
	}
}

.header.main {
	h1 {
		color: aqua;
	}
}

.header.sub {
	h1 {
		color: pink;
	}
}

@media screen and (max-wid: $tablet) {
	.header {
		ul {
			display: none;
		}
	}
}
